<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {{ content | safe }}
    {# noise grain covering the viewport, for that ~~~ retro vibe 🆒 ~~~ #}
    <svg id="noise-grain" width="100%" height="100%">
      <filter id="filter-grain">
        <feTurbulence
          type="fractalNoise"
          seed="1"
          baseFrequency="0.4"
        ></feTurbulence>
        <feColorMatrix type="saturate" values="0"></feColorMatrix>
      </filter>
      <rect width="100%" height="100%" filter="url(#filter-grain)" />
    </svg>
  </body>
</html>
