* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}

body {
  padding: 1rem;
  color: hsl(var(--col-blk));
  background-color: hsl(var(--col-wht));
  font-family: "Courier New", Courier, monospace;
}
svg {
  display: block;
  fill: currentColor;
}
:where(button,input[type="submit"],input[type="reset"],select){
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: currentColor;
  padding-inline: 0.5em;
  padding-block: 0.125em;
  border-color: currentColor;
  border-radius: 4px;
  background-color: hsl(var(--col-wht));
  border-style: solid;
}
input[type="reset"]{
  color: red;
}
input[type="reset"]:hover{
  background-color: red;
  color: white;
}
:where(button,input[type="submit"]):hover{
  background-color: hsl(var(--col-blk));
  color: hsl(var(--col-wht));
}

#noise-grain {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  mix-blend-mode: normal;
  opacity: 0.1;
}

/* - - props - - */
:root {
  --col-hue: 90;
  --col-offset-step: -60;

  --col-blk: var(--col-hue) 50% 30%;
  --col-wht: var(--col-hue) 50% 97.5%;

  --col-primary: var(--col-hue) 75% 85%;
  --col-secondary: calc(var(--col-hue) + var(--col-offset-step)) 85% 45%;
  --col-ternary: calc(var(--col-hue) + var(--col-offset-step) * 2) 85% 45%;
}
/* - - props - - */
